body {
  background-color:white;
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
  min-height: 590px;
  font-family: 'helvetica neue';
}

.centered {
    padding-top: 200px;
    text-align: center;
}
.button1{
float: left;
}

.hello{
  font-family: 'Montserrat', sans-serif;
  padding-left: 120px;
    font-size: 35px;
}
.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

button {
  margin-left: 40px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
