
body {
  background-color:white;
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
    min-height: 590px;
  font-family: 'helvetica neue';
}

.centered {
    padding-top: 200px;
    text-align: center;
}
.button1{
float: left;
}

.hello{
  font-family: 'Montserrat', sans-serif;
  padding-left: 50px;
  font-size: 45px;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

button {
  margin-left: 60px;
  margin-right: 82px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.input-group{
  padding-top: 0.5rem;
  padding-left: 0.32rem;
  padding-right: 0.32rem;
}
.input-group-text{
  background-color: #f97a7a;
}
